
.navbar {
  background-color: #232f3e;
  color: #fff;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  font-size: 1.2rem;
}

.nav-link {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}
.nav-link:hover{
  color:  #ff9900;
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  color: #fff;
  text-decoration: none;
}

.cart-size {
  background-color: #ff9900;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.8rem;
}
